@import "./vars.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, rgb(197, 11, 11) 0%, rgb(2, 44, 8) 100%);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  &-brand {
    margin-left: 200px;
    color: #fff;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    animation: color-change 2s infinite;
  }

  .nav-link {
    display: flex;
    list-style: none;
    gap: 2rem;

    a {
      margin-right: 80px;
      color: #fff;
      text-decoration: none;
      padding: 1rem 1rem;
      border-radius: 5px;
      transition: color 0.3s, background-color 0.3s, transform 0.3s;

      &:hover {
        color: black;
        background-color: yellow;
        transform: scale(1.05);
      }

      &:focus {
        color: #ffff00;
      }
    }
  }
}

@keyframes color-change {
  0% {
    color: #fff;
  }
  50% {
    color: #fc466b;
  }
  100% {
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;

    &-brand {
      margin-bottom: 1rem;
    }

    .nav-link {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
}
